################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
/WPF-Miao/WPF-Miao/obj
/.vs
*.v1
**/obj
**/bin
**/.vs
