[*.cs]

# CS8618: 在退出构造函数时，不可为 null 的字段必须包含非 null 值。请考虑声明为可以为 null。
dotnet_diagnostic.CS8618.severity = none

# CS8765: 参数类型的为 Null 性与重写成员不匹配(可能是由于为 Null 性特性)。
dotnet_diagnostic.CS8765.severity = none
