
*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
.dcp{
    max-width: 43.75rem ;
    margin:0 auto;
    width: 100%;
}
.dcp_hpv_1,.dcp_hpv_1 .swiper{
    width: 100%;
    height: 14rem;
    border-radius: 100% 100% 100% 100% / 0% 0% 35% 35%;
    overflow: hidden;
}
.dcp_hpv_1 .swiper-slide,.dcp_hpv_1 .swiper-slide img{
    width: 100%!important;
}
.dcp_hpv_1 .swiper-pagination-bullet{
    background-color: #fff;
    opacity: 1;
    width: 0.25rem;
    height: 0.25rem;
}
.dcp_hpv_1 .swiper-pagination-bullet-active{
    width: 2.5rem;
    height: 0.25rem;
    background-color: #fff;
    border-radius: 0.3125rem;
}
.dcp_hpv_1 .swiper-pagination {
    bottom: 2.25rem!important;
    left: -1.3125rem!important;
}
.dcp_hpv_2 ul img{
    display: none;
}
.dcp_hpv_2 ul{
    display: flex;
    margin-top: 1.25rem;
    align-items: center;
    padding:0 1rem;
    justify-content: space-between;
}
.dcp_hpv_2 ul li{
    /* flex:0 0 25%; */
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
}
.dcp_hpv_2 .left{
  background-color: #fff;
  height: 2.5rem;
}
.dcp_hpv_2 .swiper2{
   width: 80%;
   overflow-x: hidden;
   overflow-y: auto;
   height: 2.5rem;
} 
.dcp_hpv_2 .swiper2 p{
    height: 80%;
}
.dcp_hpv_2 ul .on{
    font-size: 1.25rem;
    font-weight: 600;
    color: #4068F4;
    position: relative;
}
.dcp_hpv_2 ul .on::after{
    content: "";
    display: block;
    position: absolute;
    width: 2.875rem;
    height: 0.5rem;
    background-image: url(../img/on.png);
    background-size: 100% 100%;
    bottom: -0.1rem;
    left: 50%;
    transform: translateX(-50%);
}
.dcp_hpv_3{
    display: none;
}
.dcp_hpv_3_1{
    padding:0 1rem;
    display: block;
}
.dcp_hpv_3_1 .title{
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
    margin:1.25rem 0;
}
.dcp_hpv_3_1_1{
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
}
.dcp_hpv_3_1_1 img{
    width: 100%;
}
.dcp_hpv_3_1_1>div{
    flex: 0 0 49%;
    position: relative;
}
.dcp_hpv_3_1_1 .tip{
    position: absolute;
    top: 1.375rem;
    left: 1rem;
}
.dcp_hpv_3_1_1 .tip .tip_1{
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.125rem;
}
.dcp_hpv_3_1_1 .tip .tip_2{
    font-size: 0.75rem;
    font-weight: 400;
    opacity: 0.56;
}
.dcp_hpv_3_1_1 .left .tip .tip_1 {
    color: #71595B;
}
.dcp_hpv_3_1_1 .left .tip .tip_2 {
    color: #83454C;
}
.dcp_hpv_3_1_1 .right .tip .tip_1 {
    color: #536882;
}
.dcp_hpv_3_1_1 .right .tip .tip_2 {
    color: #536882;
}
.dcp_hpv_3_1_2 ul{
    display: flex;
    font-size: 0.88rem;
    font-weight: 400;
    color: #333333;
    text-align: center;
    justify-content: space-between;
}
.dcp_hpv_3_1_2 .line{
    position: relative;
}
.dcp_hpv_3_1_2 .line::after{
    content:"";
    display: block;
    width: 1.94rem;
    height: 0.06rem;
    background-image: url(../img/lc_6.png);
    background-size: 100% 100%;
    position: absolute;
    top: 0.6rem;
    left: 2.9rem;
}
.dcp_hpv_3_1_2 ul p{
    margin-top: 0.5625rem;
}
.dcp_hpv_3_1_3>div{
    background: #FFFFFF;
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0,0,0,0.0800);
    border-radius: 0.25rem;
    border: 1px solid #EAEAEA;
    padding:1rem;
    margin-bottom: 0.5rem;
}
.dcp_hpv_3_1_3 div ul{
    display: flex;
    justify-content: space-between;
}
.dcp_hpv_3_1_3 div ul .subtitle{
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 1rem;
    /* 2022.08.15xg ����4�� */
    width:240px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.dcp_hpv_3_1_3 div ul li div
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
     /* 2022.08.15xg ����1�� */
    padding: 0.75rem 1rem 0rem 0rem ;
}
.dcp_hpv_3_1_3 div ul li div span{
    flex:0 0 28%;
   /* width: 2.6875rem;*/
    padding:0.1875rem 0.135rem;  /* 2022.08.15xg �޸�1�� padding:0.1875rem 0.5rem; */
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}
.dcp_hpv_3_1_3 div ul li div .span_1{
    background-color: #FFF8DB;
    border:1px solid #FFE98F;
    border-radius: 0.3125rem;
    color: #C79047;
}
.dcp_hpv_3_1_3 div ul li div .span_2{
    background-color: #FFE9E9;
    border:1px solid #FFA98F;
    border-radius: 0.3125rem;
    color: #C74B47;
}
.dcp_hpv_3_1_3 div ul li div .span_3{
    background-color: #F6E9FF;
    border:1px solid #D0A1EE;
    border-radius: 0.3125rem;
    color: #915FB2;
}
.dcp_hpv_3_1_3 .button_li{
   /* margin-left: 2.5rem;
    */
    text-align: right;
}
.dcp_hpv_3_1_3 .button_li button{
    width: 5.5rem;
    height: 1.75rem;
    border-radius: 1.25rem;
    padding: 0.25rem 0;
    text-align: center;
    border: none;
    /* 2022.08.15xg ɾ��1�� margin: 0.5rem 0;����2�� */
    position:relative;
    top:50%;
     
}
.dcp_hpv_3_1_3 .button_li .button_li_1{
    background-color: #107BFE;
    border: 1px solid #107BFE;
    color: #fff;
    font-size: 0.875rem;
}
.dcp_hpv_3_1_3 .button_li .button_li_2{
    background-color: #fff;
    border: 1px solid #107BFE;
    color: #107BFE;
    font-size: 0.875rem;
}
.tc {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4100);
    z-index:99999;
    display: none;
}
.tc .tc_box {
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:20.4375rem;
    background-color:#fff;
    border-radius:1rem;
    padding:1.4375rem 0;
}
.tc_box .title {
    text-align:center;
    font-size:1.125rem;
    font-weight:600;
    color:#333333;
    margin-bottom:1.5rem;
}
.tc_box .content {
    font-size:0.875rem;
    font-weight:400;
    color:#333333;
    padding:0 1rem;
}
.tc_box .button {
    font-size:1rem;
    font-weight:400;
    color:#5B83EB;
    padding-top:2.25rem;
    border-top:0.0625rem solid #D8D8D8;
    text-align:center;
    margin-top:2.125rem;
}

.dcp_hpv_3_2 ,.dcp_hpv_3_3,.dcp_hpv_3_4{
    text-align: center;
    padding-top: 3rem;
}

/* 2022.08.16xg ����ԤԼ��֪����CSS */
.dcp_tc_gg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4100);
	z-index: 8888;
	display: none;
}
.dcp_tc_gg .gg_box {
	position: relative;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* width:20.4375rem; */
	background-color: #fff;
	border-radius: 0.8rem;
	padding: 1.4375rem 0;
	
}
.dcp_tc_gg .gg_box .title {
	text-align: center;
	font-size: 1.125rem;
	font-weight: 600;
	color: #333333;
	margin-bottom: 1.0rem;
	
}
.dcp_tc_gg .gg_box .content {
	font-size:0.875rem;
	font-weight:400;
	color:#333333;
	background-color: #f5f5f5;
	overflow: scroll;
	height: 35rem;
	padding:0 1rem;
}
.dcp_tc_gg .gg_box .bottom {
	margin-top: 0.625rem;
	padding: 0.8rem 7.5rem 0.8rem 7.5rem;/* �������� */
	background-color: #ececec;
	color: #999999;
	border-radius: 0.25rem ;
	border: none;
	height: 3.25rem;
	font-size: 1rem;
}
.dcp_tc_gg .gg_box .jiange {
	height:1.5rem;
	background-color: #f5f5f5;
}