@font-face {
	
/* 
	 font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif; */
    font-family: 'PingFangMedium';
    /* src: url('PingFangMedium.eot');
    src: url('PingFangMedium.eot') format('embedded-opentype'),
         url('PingFangMedium.woff2') format('woff2'),
         url('PingFangMedium.woff') format('woff'),
         url('PingFangMedium.ttf') format('truetype'),
         url('PingFangMedium.svg') format('svg'); */
    src: url('PingFangMedium.woff') format('woff');
}

*{
    font-family: PingFangMedium;
}
